*{
    margin: 0;
    padding: 0;
}
#the-game{
    background: -webkit-linear-gradient(left, #000000, #794600);
    background: -moz-linear-gradient(left, #000000, #794600);
    background: -ms-linear-gradient(left, #000000, #794600);
    background: -o-linear-gradient(left, #000000, #794600);
    background: linear-gradient(to right, #000000, #794600);

}

#display-jogo{
    justify-content: center;
    align-content: center;
    display: flex;
    width: 100%;
    margin-top: 5%;
    position: relative;
}

#jogo{
    display: flex; /* flex*/

    width: 1080px;
    height: 720px;
    position: absolute;
    background-image: url("/imagens/mapaHerois2020.png");

    border: 2px solid black;
}
#jogo #inicio-mapa{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
}
#jogo .irPara{
    position:relative;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 0 ;
    background-color: cyan;
}
#jogo .irPara:hover{
    height: 52px;
    width: 52px;

}
#jogo .irPara:hover img{
    height: 52px;
    width: 52px;
    filter:grayscale(0.5);
}
#jogo .irPara img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
#jogo #irPara_Denji{
    bottom: -38%;
    right: -22%;
}

#sprites{
    display: none;
    width: 100%;
    height: 70%;
    justify-content: center;
    bottom: 0;

}





.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
#falas{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: lightgoldenrodyellow;
    
    display: none;
}
#falas #textoFala{
    font-size: 32px;
    font-family: "Madimi One";
    opacity: 100%;
    color: black;
    position: absolute;
    text-align: center;
    align-items: center;
    top:5%;
    width: 100%;
    
}
#falas #escolhas{
    bottom: 0;
    display: flex;
    height: 45%;
    position: absolute;
    opacity: 100%;
    width: 100%;
    border-top: 1px solid black;
}
#falas #escolhas button{
    bottom: 0;
    width: 33.33%;
    font-size: 22px;
    font-family: "Madimi One";
    color: black;
    background-color:lightblue;
    border: 0;
    font-style: italic;
    text-decoration:underline ;
}
#falas #escolhas button:hover{
    background-color:lightseagreen;
}
#fullscreen{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    left: 2%;
    top:2%;
    border: 1px solid darkslategrey;
}

#abrir-inventario{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    right: 2%;
    top:2%;
    border: 1px solid darkslategrey;
}

#abrir-inventario img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
#abrir-inventario:hover img{
    filter:grayscale(0.5);
}
#inventario{
    width: 100%;
    height: 100%;
    display: none;
}
#inventario .inv-texto{
    font-size: 32px;
    font-family: "Madimi One";
    text-align: center;
    color: black;
   
    position: absolute;
}
#inventario #inv-nome{
    top:14.5%;
    left: 26%;
    width: 25%;
    text-decoration: underline;
}

#inventario #inv-atributos{
    top: 27%;
    left: 16.5%;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#inventario #inv-atributos li{
    display: flex;
    margin-right:33%;
    margin-bottom: 24%;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
    text-align: center;
}
#inventario #inv-atributos #inv-for{
    color: red;
}
#inventario #inv-atributos #inv-dex{
    color: cyan;
}
#inventario #inv-atributos #inv-con{
    color: greenyellow;
}
#inventario #inv-atributos #inv-int{
    color: plum;
}
#inventario #inv-atributos #inv-sab{
    color: purple;
}
#inventario #inv-atributos #inv-car{
    color: goldenrod;
}
#inventario #inv-CA{
    top:29%;
    left: 48.5%;
    color: darkslategray;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#inventario #inv-HP{
    top: 53%;
    right: 48.5%;
    color: red;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    width: 50px;
}
#inventario #inv-LVL{
    top: 15.5%;
    right: 16.5%;
    color: green;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    width: 50px;
}
#inventario #inv-GEN{
    top: 14.5%;
    right: 28.5%;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    width: 50px;
}

#barraHP{
    position: absolute;
    width: 20px;
    height: 300px;
    border-radius: 10px;
    background-color: #ccc;
    top:15%;
    right: 3.5%;
    display: grid;
    align-items: end;
    border: 1px solid black;
}
#barraHP div{
    background-color: crimson;
    border-radius: 10px;

}
#barraHP p{
    position: absolute;
    text-align: center;
    align-content: space-evenly;
    width: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: impact;
    font-size: 20px;
    height: 300px;
    display: grid;
}
#barraINIMIGO{
    position: absolute;
    display: none;
    width: 500px;
    height: 20px;
    border-radius: 10px;
    background-color: #ccc;
    top: 2%;
    align-items: end;
    border: 2px solid black;
}

#barraINIMIGO div{
    background-color: chocolate;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
#barraINIMIGO p{
    position: absolute;
    position: absolute;
    text-align: center;
    align-content: space-evenly;
    height: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: impact;
    font-size: 20px;
    width: 500px;
    display: grid;
    letter-spacing: 1px;
}
#barraREP{
    position: absolute;
    display: flex;
    width: 500px;
    height: 20px;
    border-radius: 10px;
    background-color: #ccc;
    top: 65%;
    align-items: end;
    border: 2px solid black;
}
#barraREP div{
    background-color: green;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
#barraREP p{
    position: absolute;
    position: absolute;
    text-align: center;
    align-content: space-evenly;
    height: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: impact;
    font-size: 20px;
    width: 500px;
    display: grid;
    letter-spacing: 1px;
}